[submodule "vendor/googletest"]
	path = vendor/googletest
    url = https://github.com/google/googletest
[submodule "vendor/GSL"]
	path = vendor/GSL
    url = https://github.com/microsoft/GSL
[submodule "vendor/function2"]
	path = vendor/function2
	url = https://github.com/Naios/function2
[submodule "vendor/outcome"]
	path = vendor/outcome
	url = https://github.com/ned14/outcome
